$color-primary: #303030;
$color-primary-light: #b1b1b1;
$color-scrollbar: rgb(37, 37, 37);
$color-scrollbar-light: rgb(95, 95, 95);
$color-black: black;
$color-button-border: rgb(2, 255, 255);
$color-deaths: rgb(230, 0, 0);
$color-recovered: #70a800;
$color-body: rgb(75, 75, 75);
$color-confirmed: rgba(94, 217, 255, 0.4);

$content-width: 1280px;
$wrapper-width: 1000px;
$tablet-max-width: 900px;
$mobile-max-width: 500px;
$footer-height: 5rem;

$base-font-size: 10px;

$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-popup-border: #404040;
$color-popup-bg: #2b2b2b;

$color-marker-cases: rgb(94, 217, 255);
$color-marker-deaths: red;
$color-marker-recovered: #619101;
/*
$color-marker-cases-bg: rgba(255, 0, 0, 0.4);
$color-marker-deaths-bg: rgba(255, 255, 0, 0.4);
$color-marker-recovered-bg: rgba(94, 217, 255, 0.4);
*/
$color-marker-cases-bg: $color-confirmed;
$color-marker-deaths-bg: $color-deaths;
$color-marker-recovered-bg: $color-recovered;
