/* About styles start */
.about {
    background: #FFFFFF;
    padding-top: 80px;
    padding-bottom: 100px;
}

.about__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about__pets {
    width: 300px;
    height: 408px;
    margin-right: 120px;
}
.about__text {
    width: 430px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.text__heading {
    width: 370px;
}

.text__subheading {
    width: 430px;
    color: $color-dark-xl;
}
/* About styles end */