/* Footer styles start */

.footer {
    width: 100%;
    height: 350px;
    padding-top: 40px;
    background: url(noise_lines_transparent@2X.png), 
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__contacts {
    position: relative;
    top: 16px;
    width: 279px;
    height: 234px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}

.footer__contacts-title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer__contacts-mail {
    width: 251px;
    height: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer__contacts-phone {
    width: 239px;
    height: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer__contacts-icon {
    width: 40px;
    height: 32px;
}

.footer__contacts-text {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.footer__location {
    position: relative;
    top: 16px;
    width: 302px;
    height: 234px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}

.footer__location-address1 {
    width: 302px;
    height: 46px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer__location-address2 {
    width: 302px;
    height: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer__contacts-text1 {
    width: 260px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}



.footer__location-icon {
    width: 22px;
    height: 32px;
}

.footer__puppy {
    height: 310px;
}

.footer__link {
    direction: none;
    text-decoration: none;
}

/* Footer styles end */