/* header styles start*/

header {
    position: absolute;
    width: 100%;
    top: 60px;
    @include media-laptop {
        top: 30px;
    }
}

.hidden {
    position: absolute;
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

.header__wrapper {
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

.header__logo {
    width: 186px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
}

.logo__title {
    @include font(3.2rem, 110%, $color-primary, $spacing: 0.06em);
}

.logo__subtitle {
    @include font(1.3rem, 1.5rem, $color-light-xl, 'Arial', $spacing: 0.1em);
}

.header__nav {
    width: 443px;
    height: 27px;
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-tablet {
        display: none;
    }
}

.list__item {
    &-active {
        border-bottom: 3px solid $color-primary;
    }
}

.list__link {
    text-decoration: none;
    @include font(1.5rem, 2.1rem, $color-dark-s, 'Arial');
    
}

    /* Pets1280 header start */

    .header--pets1280 {
        position: unset;
        background: #FFFFFF;
        top: 0px
    }

    .header__wrapper--pets1280 {
        height: 120px;
    }

    .logo__tittle--color {
        color: #545454;
    }

    .logo__subtitle--color {
        color: #292929;
    }

    .list__link--color {
        color: #545454;
    }

    /* Pets1280 header end */

    

/* header styles end*/