






















/* not_phototime_layout */
.wrapper {
    margin: auto;
    width: 1600px;
    background: #ffffff;
  }

  

/* bg-image-wrapper */
.bg-image-wrapper {
    position: inherit;
    margin: auto;
    width: 1600px;
    height: 744px;
    left: 1px;
    top: 0px;
}

 

  /* header */
.header {
    
    width: 1600px;
    height: 95px;
    left: 0px;
    top: 0px;
}

.header-logo {
    
    width: 44px;
    height: 45px;
    left: 778px;
    top: 25px;
  }


/*
#big-image {
    
    width: 1600px;
    height: 788px;
    left: 0px;
    top: -22px;
    
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(ales-nesetril-Im7lZjxeLhg-unsplash.jpg);
}
*/

/* btn-main */


/* Auto Layout */
#btn-main {
    display: flex;
    flex-direction: row;
    padding: 15px 47px;
    
    position: absolute;
    width: 184px;
    height: 46px;
    left: 707px;
    top: 406px;
    
    background: #00AFDB;
}
/* your life is webdev */
.bg-image-wrapper .main-text {
   
    width: 730px;
    height: 75px;
    left: 435px;
    top: 231px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

/* bg-2 */
.back-ground-2 {
    position: absolute;
    width: 1600px;
    height: 842px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;
}


/* 2 */
.second-slide-wrapper {
    position: absolute;
    width: 1600px;
    height: 842px;
    left: 0px;
    top: 744px;
}
/* content-image-1 */
#content-image-1 {
    position: absolute;
    width: 407px;
    height: 582px;
    left: 923px;
    top: 864px;
    
    background: url(pexels-thisisengineering-3862131.jpg), url(pexels-thisisengineering-3861964.jpg);
}