* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 765px;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: black;
  text-shadow: 2px 2px  white;
  transition: background-image .5s ease-in-out;
}

.text-shadow {
  text-shadow: 2px 2px black;
}

.date {
  margin-top: 20px;
  font-size: 6rem;
}

.time {
  display: flex;
  justify-content: flex-start;
  width: 350px;
  font-size: 6rem;

}

h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

h2 {
  margin-bottom: 0.5rem;
  font-size: 3rem;
}

@media (max-width: 930px) {
  .time {
    font-size: 4rem;
    width: 220px;
  }

  .date {
    font-size: 3rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.4rem;
  }
}


button {
  margin-top: 10px;
  margin-right: 5px;
  background-color: rgb(47, 2, 119);
  width: 207px;
  height: 52px;
  
  color: white;
  text-shadow: 1px 1px 2px black;
  border-radius: 10px;
  border: none;
  transition: all .2s;
  font-size: 1.3rem;
}

button:hover {
  cursor: pointer;
  background-color: rgba(47, 2, 119, .8);
}

button:active,
button:focus {
  outline: 0.px;
}

.time-of-day {
  font-size: 1.3rem;
  text-shadow: 2px 2px white;
}

.weather {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  align-items: center;
  letter-spacing: 3px;
}

.city {
  font-size: 2rem;
 
}

.weather-icon {
  font-size: 1.5rem;
  
}

.weather-icon::before {
  font-size: 1rem;
}

.temp {
  font-size: 1.4rem;
  
}

.humidity {
  font-size: 1.4rem;
  
}

.wind {
  font-size: 1.4rem;
  
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.quote {
  font-size: 1.7rem;
  margin-bottom: 20px;
}