%burger-line {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    border: 2px solid $color-primary;
}

.burger {
    display: none;
    position: relative;
    width: 30px;
    height: 22px;
    z-index: 2;

    margin-right: 43px;
    &:hover {
        cursor: pointer;
    }
    @extend %transition;
    &:before {
        @extend %burger-line;
        top: 2px;
        left: 0;
    }
    &:after {
        @extend %burger-line;
        top: 22px;
        left: 0;
    }

    &-pets {
        &:before {
            border: 2px solid #000000; 
        }
        &:after {
            border: 2px solid #000000; 
        }
        
    }
    
    @include media-tablet {
        display: inline-block;
    }

    &-menu {
        display: unset;
        position: fixed;
        right: 10px;
        //margin-right: unset;
        
        margin-left: 43px;
        transform: rotate(90deg);
        @extend %transition;

        @include media-min {
            display: none;
            position: relative;
            width: 30px;
            height: 22px;
            z-index: 2;   
            transform: rotate(90deg);     
        }

    }
}

.burger__line {
    @extend %burger-line;
    top: 12px;
    left: 0;
    &-pets {
        border: 2px solid #000000; 
        &-menu {
            border: unset;
            border: 2px solid $color-primary; 
        }
    }
    
}

