.hidden {
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.header {
  background-color: $color-background;
  background-image: $header-background-image;
  width: auto;
  height: 100px;
}

.header__wrapper {
  position: relative;
  height: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}




.switch {
  position: relative;
  display: inline-block;
  margin-right: 40px;
  width: 60px;
  height: 34px;
  
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-secondary;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  &::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: $color-background;
    border-radius: 50%;
  }
  
}

input {
  &:checked + .slider, :focus + .slider {
    background-color: $color-primary;
  }
  &:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
}







