.map-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .map-relative-container {
    position: relative;
    #map {
      width: 100%;
      height: calc(85vh - 3.5rem);
      margin: 0 auto;
    }
  }
  .map-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .map-button {
      width: 10.5rem;
      padding: 1rem 2rem;
      margin: 0;
      outline: none;
      border: none;
      transition: all 0.3s ease-in-out;
      &:hover {
        cursor: pointer;
        background-color: $color-popup-bg;
        color: $color-dark-s;
        transition: all 0.3s ease-in-out;
      }
      &.button-checked {
        background-color: $color-popup-bg;
        color: $color-dark-s;
      }
    }
  }
}
