header {
  font-size: 1.2rem;
  width: 100%;
  height: 50px;
  padding-top: 30px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.inform-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}