html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  min-width: 320px;
  //width: 100%;
  margin: auto;
  background-color: rgb(255, 250, 206);
}

main {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board {
  margin: auto;
  padding: 1px 1px 1px 1px;
  position: relative;
  background-color: white;
  box-shadow: 10px 10px 5px gray;
  border: solid 3px rgb(10, 0, 10);
  border-radius: 10px;
  overflow: hidden;
}

.tile {
  font-size: 2rem;
  color: rgb(1, 1, 102);
  box-sizing: border-box;
  width: 95px;
  height: 95px;
  position: absolute;
  background-color: rgba(153, 153, 153, 0.589);
  border: solid 1px rgb(1, 1, 102);
  margin: 3px 3px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(34, 34, 107);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
    background-color: rgba(220, 220, 220, 0.986);
  }
}