html {
  font-size: 10px;
}

.body {
  background-color: $color-primary-body;
  min-width: 300px;
  p {
    @include font(3.5rem, 100%, black, 'Roboto');
  }
  &-play {
    background-color: $color-secondary-body;
  }
  
}

.blackout {
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: rgba(41, 41, 41, 0.6);
  &:hover {
      cursor: pointer;
  }
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}