html {
  font-size: 10px;
}

body {
  background-color: $color-background;
  background-image: $body-background-image;
  background-attachment: fixed;
  background-size: cover;

  p {
    @include font(3.5rem, 160%, black, 'Roboto');
  }
}