%burger-line {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  border: 2px solid $color-primary;
}

.burger {
  display: inline-block;
  position: relative;
  margin-left: 40px;
  width: 30px;
  height: 22px;
  z-index: 5;

  &:hover {
    cursor: pointer;
  }
  
  @extend %transition;
  &::before {
    @extend %burger-line;
    top: 2px;
    left: 0;
    &-menu {
      transform: translateY(10px) rotate(45deg);
    }
  }

  &::after {
    @extend %burger-line;
    top: 22px;
    left: 0;
    &-menu {
      transform: translateY(-10px) rotate(-45deg);
    }
    
  }
}

.burger__line {
  @extend %burger-line;
  @extend %transition;
  top: 12px;
  left: 0;
  &-menu {
    display: none;
  }
}